<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="U5ki.NodeBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.Infrastructure.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="U5ki.CfgService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="U5ki.RdService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="U5ki.TifxService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="U5ki.PabxItfService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
 </configSections>
	<applicationSettings>
		<U5ki.NodeBox.Properties.Settings>
   <setting name="ControlRemoto" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="PuertoControlRemoto" serializeAs="String">
    <value>1023</value>
   </setting>
   <setting name="PuertoPresencia" serializeAs="String">
    <value>1022</value>
   </setting>
   <setting name="MinutosSesion" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="Idioma" serializeAs="String">
    <value>fr</value>
   </setting>
   <setting name="IdSistema" serializeAs="String">
    <value>departamento</value>
   </setting>
   <setting name="HistBaseOid" serializeAs="String">
    <value>.1.1.100.1</value>
   </setting>
   <setting name="HistCommunity" serializeAs="String">
    <value>public</value>
   </setting>
   <setting name="HistServer" serializeAs="String">
    <value>192.168.0.214</value>
   </setting>
   <setting name="AdaptadorRed" serializeAs="String">
    <value>Conexión de área local 2</value>
   </setting>
   <setting name="NetworkOnDelay" serializeAs="String">
    <value>10</value>
   </setting>
  </U5ki.NodeBox.Properties.Settings>
    <U5ki.Infrastructure.Properties.Settings>
      <setting name="RecordingEd137" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="KAPeriod" serializeAs="String">
				<value>200</value>
			</setting>
			<setting name="KAMultiplier" serializeAs="String">
				<value>10</value>
			</setting>
			<setting name="TsxTout" serializeAs="String">
				<value>400</value>
			</setting>
			<setting name="InvProceedingIaTout" serializeAs="String">
				<value>1000</value>
			</setting>
			<setting name="InvProceedingDiaTout" serializeAs="String">
				<value>300000</value>
			</setting>
			<setting name="InvProceedingRdTout" serializeAs="String">
				<value>1000</value>
			</setting>
			<setting name="InvProceedingMonitoringTout" serializeAs="String">
				<value>300000</value>
			</setting>
			<setting name="SipLogLevel" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="DefaultCodec" serializeAs="String">
				<value>PCMA</value>
			</setting>
			<setting name="DefaultDelayBufPframes" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="DefaultJBufPframes" serializeAs="String">
				<value>4</value>
			</setting>
			<setting name="RxLevel" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="TxLevel" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="SndSamplingRate" serializeAs="String">
				<value>8000</value>
			</setting>
    <setting name="EchoTail" serializeAs="String">
      <value>100</value>
    </setting>
    <setting name="EchoLatency" serializeAs="String">
      <value>0</value>
    </setting>
  </U5ki.Infrastructure.Properties.Settings>
		<U5ki.CfgService.Properties.Settings>
      <setting name="Cd40_CfgService_SoapCfg_InterfazSOAPConfiguracion" serializeAs="String">
        <value>http://192.168.0.111/NucleoDF/U5kCfg/InterfazSoapConfiguracion/InterfazSoapConfiguracion.asmx</value>
      </setting>
      <setting name="CfgSystemId" serializeAs="String">
        <value>departamento</value>
      </setting>
      <setting name="ConfigIp" serializeAs="String">
        <value>192.168.0.214</value>
      </setting>
      <setting name="ConfigByte" serializeAs="String">
        <value>1</value>
      </setting>
    </U5ki.CfgService.Properties.Settings>
		<U5ki.RdService.Properties.Settings>
			<setting name="SipIp" serializeAs="String">
				<value>192.168.0.214</value>
			</setting>
			<setting name="SipPort" serializeAs="String">
				<value>6060</value>
			</setting>
			<setting name="SipUser" serializeAs="String">
				<value>Cd40</value>
			</setting>
			<setting name="ListenIp" serializeAs="String">
				<value>224.10.10.51</value>
			</setting>
			<setting name="ListenPort" serializeAs="String">
				<value>10000</value>
			</setting>
			<setting name="McastIp" serializeAs="String">
				<value>224.10.10.52</value>
			</setting>
			<setting name="McastPortBegin" serializeAs="String">
				<value>10000</value>
			</setting>
      <setting name="MonitorCarrierTimeOut" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="ConectionRetryTimer" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="HFMonitorTimer" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="HFSnmpSimula" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HFSnmpReadCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="HFSnmpWriteCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="HFSnmpTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="HFJBusTimeout" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="HFBalanceoAsignacion" serializeAs="String">
        <value>False</value>
      </setting>
    </U5ki.RdService.Properties.Settings>
		<U5ki.TifxService.Properties.Settings>
			<setting name="tifxMcastPort" serializeAs="String">
				<value>1001</value>
			</setting>
			<setting name="tifxMcastIp" serializeAs="String">
				<value>224.100.10.1</value>
			</setting>
			<setting name="tifxPresenceTout" serializeAs="String">
				<value>11000</value>
			</setting>
      <setting name="tifxMcastSrc" serializeAs="String">
        <value>192.168.0.214</value>
      </setting>
    </U5ki.TifxService.Properties.Settings>
    <U5ki.PabxItfService.Properties.Settings>
      <setting name="PabxIp" serializeAs="String">
        <value>192.168.0.4</value>
      </setting>
      <setting name="PabxWsPort" serializeAs="String">
        <value>18080</value>
      </setting>
      <setting name="PabxSaPwd" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="TifxMcastIp" serializeAs="String">
        <value>224.100.10.1</value>
      </setting>
      <setting name="TifxMcastPort" serializeAs="String">
        <value>1001</value>
      </setting>
      <setting name="PabxPollTime" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="TifMcastItf" serializeAs="String">
        <value>192.168.0.214</value>
      </setting>
      <setting name="PabxSimulada" serializeAs="String">
        <value>False</value>
      </setting>
    </U5ki.PabxItfService.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
