/bin
/uv5ki-nbx-webapp/bin
/uv5ki-nbx-webapp/obj
Debug
Release
*.ipch
*.sdf
*.user
*.opensdf
*.o
*.map
*.cxx
nbproject
/uv5ki-gw-cfg/plog.csv
/uv5k-tools-vs2010.suo
/uv5ki-gw-cfg/logs
/uv5ki-gw-cfg/uvki-gwser

