<h3 translate>Tablas de ULISES</h3>
<section id="_tabs">
    <ul class="nav nav-tabs" data-persist="true" data-persist="true">
        <li data-ng-class="{'active': vm.pagina==0}">
            <a href="" data-ng-click="vm.Pagina(0)" translate>Direccionamiento</a>
        </li>
        <li data-ng-class="{'active': vm.pagina==1}">
            <a href="" data-ng-click="vm.Pagina(1)" translate>Asignaciones</a>
        </li>
        <li data-ng-class="{'active': vm.pagina==2}">
            <a href="" data-ng-click="vm.Pagina(2)" translate>ATS</a>
        </li>
    </ul>
</section>
<section id="_contenido" class="ulises">
    <!-- -->
    <div id="pdir" ng-show="vm.pagina==0">
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default " data-toggle="collapse" data-target="#ipt">{{"Plan IP Puestos"}}</button>
                        <div id="ipt" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item ndf-row" data-ng_repeat="item in vm.pdir_ip | filter:{ tipohost: 0 }">
                                    <div class="row">
                                        <div class="col-md-3">{{item.idhost}}</div>
                                        <div class="col-md-3">{{item.ipred1}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#ipp">{{"Plan IP Pasarelas"}}</button>
                        <div id="ipp" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item ndf-row" data-ng_repeat="item in vm.pdir_ip | filter:{ tipohost: 1 }">
                                    <div class="row">
                                        <div class="col-md-3">{{item.idhost}}</div>
                                        <div class="col-md-3">{{item.ipred1}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#ipr">{{"Plan IP Radios"}}</button>
                        <div id="ipr" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item ndf-row" data-ng_repeat="item in vm.pdir_ip | filter:{ tipohost: 2 }">
                                    <div class="row">
                                        <div class="col-md-3">{{item.idhost}}</div>
                                        <div class="col-md-3">{{item.ipred1}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-5">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#ipa">{{"Plan IP Telefonos"}}</button>
                        <div id="ipa" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item ndf-row" data-ng_repeat="item in vm.pdir_ip | filter:{ tipohost: 3 }">
                                    <div class="row">
                                        <div class="col-md-3">{{item.idhost}}</div>
                                        <div class="col-md-3">{{item.ipred1}}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <ul class="list-group">
                    <li class="list-group-item">
                        <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#sip">{{"Plan SIP"}}</button>
                        <div id="sip" class="collapse">
                            <ul class="list-group">
                                <li class="list-group-item" data-ng_repeat="item in vm.pdir_sip">
                                    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#sip-{{$index}}">{{item.idusuario}}</button>
                                    <div id="sip-{{$index}}" class="collapse">
                                        <ul class="list-group">
                                            <li class="list-group-item ndf-row" data-ng_repeat="abn in item.array_abonados track by $index">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        {{abn.prefijo + "-" + abn.abonado}}
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- -->
    <div id="pasg" ng-show="vm.pagina==1">
        <!--
        <div id="pasg-usu" ng-show="vm.opcion==0">
            <p translate>Plan de Asignacion de Usuarios</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>Usuario</th>
                        <th translate>Host</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.pasg_usu">
                        <td>
                            <div>{{item.idusuario}}</div>
                        </td>
                        <td>
                            <div>{{item.idhost}}</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="pasg-rec" ng-show="vm.opcion==1">
            <p translate>Plan de Asignacion de Recursos</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>Recurso</th>
                        <th translate>Host</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.pasg_rec">
                        <td>
                            <div>{{item.idrecurso}}</div>
                        </td>
                        <td>
                            <div>{{item.idhost}}</div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="pasg-opciones" class="opciones, text-center">
            <ul class="pagination">
                <li ng-class="{'active': vm.opcion==0}"><a href="" ng-click='vm.Opcion(0)' translate>Usuarios</a></li>
                <li ng-class="{'active': vm.opcion==1}"><a href="" ng-click='vm.Opcion(1)' translate>Recursos</a></li>
            </ul>
        </div>
        -->
    </div>

    <div id="ats" ng-show="vm.pagina==2">
        <div id="ats-red" ng-show="vm.opcion==0">
            <p translate>Plan de Redes</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>Id</th>
                        <th translate>Prefijo</th>
                        <th translate>Recursos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.ats_red">
                        <td>
                            <div>{{item.idred}}</div>
                        </td>
                        <td>
                            <div>{{item.prefijo}}</div>
                        </td>
                        <td>
                            <ol>
                                <li data-ng-repeat="rec in item.listarecursos track by $index" style="list-style-type: none">{{rec.tipo+"-"+rec.idrec}}
                                </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="ats-trc" ng-show="vm.opcion==1">
            <p translate>Plan de Troncales</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>Id</th>
                        <th translate>Test</th>
                        <th translate>Recursos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.ats_trc">
                        <td>
                            <div>{{item.idtroncal}}</div>
                        </td>
                        <td>
                            <div>{{item.no_test}}</div>
                        </td>
                        <td>
                            <ol>
                                <li data-ng-repeat="rec in item.listarecursos track by $index" style="list-style-type: none">{{rec.tipo+"-"+rec.idrec}}
                                </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="ats-num" ng-show="vm.opcion==2">
            <p translate>Plan de Numeracion</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th translate>Test</th>
                        <th translate>Attr</th>
                        <th translate>Operadores</th>
                        <th translate>Privilegiados</th>
                        <th translate>Rutas</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="item in vm.ats_num">
                        <td>
                            <div>{{item.no_test}}</div>
                        </td>
                        <td>
                            <div>{{(item.centralpropia==1 ? "CPR" : "CCL")+"-"+(item.throwswitching==1 ? "Si" : "No")}}</div>
                        </td>
                        <td>
                            <ol>
                                <li data-ng-repeat="ope in item.rangosoperador track by $index" style="list-style-type: none">{{ope.inicial + "-" + ope.final}}
                                </li>
                            </ol>
                        </td>
                        <td>
                            <ol>
                                <li data-ng-repeat="ope in item.rangosprivilegiados track by $index" style="list-style-type: none">{{ope.inicial + "-" + ope.final}}
                                </li>
                            </ol>
                        </td>
                        <td>
                            <ol>
                                <li data-ng-repeat="rut in item.listarutas track by $index" style="list-style-type: none">
                                    <div>{{rut.tiporuta}}</div>
                                    <div>
                                        <ol>
                                            <li data-ng-repeat="trc in rut.listatroncales" style="list-style-type: none">{{trc}}
                                            </li>
                                        </ol>
                                    </div>
                                </li>
                            </ol>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div id="ats-opciones" class="opciones, text-center">
            <ul class="pagination">
                <li ng-class="{'active': vm.opcion==0}"><a href="" ng-click='vm.Opcion(0)' translate>Redes</a></li>
                <li ng-class="{'active': vm.opcion==1}"><a href="" ng-click='vm.Opcion(1)' translate>Troncales</a></li>
                <li ng-class="{'active': vm.opcion==2}"><a href="" ng-click='vm.Opcion(2)' translate>Numeracion</a></li>
            </ul>
        </div>
    </div>
</section>
