

<script type="text/javascript">
    window.addEventListener('load', setInterval(function () {
        var i = document.getElementById("infoAcceso");
        if (i.style.visibility == 'hidden' || i.style.visibility == '') {
            i.style.visibility = 'visible';
        } else {
            i.style.visibility = 'hidden';
        }
        return true;
    }, 1000), false);
    </script>
<section id="_contenido">
    <div>
        <br />
        <br />
        <br />
        <br />
        <p></p>
        <label id="infoAcceso" style="font-weight: bolder; font-size: 125%; margin-left: 29%;"><b translate>EXP_MSG_00</b></label></p>
        <br />
        <br />           
        <br />
        <a href="./login.html" style="color: #C1022C; margin-left: 31%; text-decoration: none;"><b translate>EXP_MSG_01</b> <span><b translate>EXP_MSG_02</b></span></a>
        <br />
        <br />
    </div>
</section>

