    <h1 translate>HARDWARE_TITULO</h1>
    <section id="_tabs">
      <ul class="tabs" data-persist="true">
        <li>
          <a href="" data-ng-click="vm.set_slv(0)" data-ng-class="{'tabsel': vm.slv==0}">SLOT 0</a>
        </li>
        <li>
          <a href="" data-ng-click="vm.set_slv(1)" data-ng-class="{'tabsel': vm.slv==1}">SLOT 1</a>
        </li>
        <li>
          <a href="" data-ng-click="vm.set_slv(2)" data-ng-class="{'tabsel': vm.slv==2}">SLOT 2</a>
        </li>
        <li>
          <a href="" data-ng-click="vm.set_slv(3)" data-ng-class="{'tabsel': vm.slv==3}">SLOT 3</a>
        </li>
      </ul>
    </section>
    <section id="_contenido">
      <div id="slv0" class="_tablarec">
        <table class="ug5ktb">
          <!--<tr>
            <td></td>
          </tr>-->
          <tr data-ng-show="false">
            <td class="_cab">TIPO</td>
            <td>
              <select id="selectCorto" data-ng-model="vm.jslv.tp" data-ng-disabled="true" >
                <option value="0">NCFG</option>
                <option value="1">IA4</option>
                <option value="2">IQ1</option>
              </select>
            </td>
            <td></td>
          </tr>
          <!--<tr>
            <td class="_cab">ESTADO</td>
            <td>
              <select data-ng-model="vm.jslv.std" disabled="disabled">
                <option value="0">No Presente</option>
                <option value="1">Presente</option>
              </select>
            </td>
          </tr>-->
          <tr>
            <td>Posicion 0</td>
            <td>
              <select data-ng-model="vm.jslv.pos[0].cfg" data-ng-disabled="vm.enable_pos(0)==false" data-ng-change="vm.pos_change(0)">
                <option value="0" translate>HARDWARE_NOCONF</option>
                <option value="1" translate>HARDWARE_RADIO</option>
                <option value="2" translate>HARDWARE_TELEF</option>
              </select>
            </td>
            <td><button class="buttonCorto" data-ng-disabled="vm.jslv.pos[0].cfg==0" data-ng-click="vm.pos_click(0,vm.jslv.pos[0].cfg)" translate >HARDWARE_IR</button></td>
          </tr>
          <tr>
            <td>Posicion 1</td>
            <td>
              <select  data-ng-model="vm.jslv.pos[1].cfg" data-ng-disabled="vm.enable_pos(1)==false" data-ng-change="vm.pos_change(1)">
                <option value="0" translate>HARDWARE_NOCONF</option>
                <option value="1" translate>HARDWARE_RADIO</option>
                <option value="2" translate>HARDWARE_TELEF</option>
              </select>
            </td>
            <td><button class="buttonCorto" data-ng-disabled="vm.jslv.pos[1].cfg==0" data-ng-click="vm.pos_click(1,vm.jslv.pos[1].cfg)" translate>HARDWARE_IR</button></td>
          </tr>
          <tr>
            <td>Posicion 2</td>
            <td>
              <select data-ng-model="vm.jslv.pos[2].cfg" data-ng-disabled="vm.enable_pos(2)==false" data-ng-change="vm.pos_change(2)">
                <option value="0" translate>HARDWARE_NOCONF</option>
                <option value="1" translate>HARDWARE_RADIO</option>
                <option value="2" translate>HARDWARE_TELEF</option>
              </select>
            </td>
            <td><button class="buttonCorto" data-ng-disabled="vm.jslv.pos[2].cfg==0" data-ng-click="vm.pos_click(2,vm.jslv.pos[2].cfg)" translate>HARDWARE_IR</button></td>
          </tr>
          <tr>
            <td>Posicion 3</td>
            <td>
              <select data-ng-model="vm.jslv.pos[3].cfg" data-ng-disabled="vm.enable_pos(3)==false" data-ng-change="vm.pos_change(3)">
                <option value="0" translate>HARDWARE_NOCONF</option>
                <option value="1" translate>HARDWARE_RADIO</option>
                <option value="2" translate>HARDWARE_TELEF</option>
              </select>
            </td>
            <td><button class="buttonCorto" data-ng-disabled="vm.jslv.pos[3].cfg==0" data-ng-click="vm.pos_click(3,vm.jslv.pos[3].cfg)" translate>HARDWARE_IR</button></td>
          </tr>
          <tr>
              </table>
        </table>
      </div>
    </section>
